header {
  height: 60px;
  z-index: 999;
  padding-left: 20px;
  background: #fff;
  box-shadow: 0 2px 20px rgba(1, 41, 112, 0.1);
  transition: all 0.5s;
}

header .toggle-sidebar-btn {
  padding-left: 10px;
  color: #012970;
  font-size: 32px;
  cursor: pointer;
}
