.dashboard .news .post-item {
  margin-top: 15px;
}

.dashboard .news img {
  width: 80px;
  float: left;
  border-radius: 5px;
}

.dashboard .news h4 {
  margin-left: 95px;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: bold;
}

.dashboard .news h4 a {
  color: #012970;
  transition: 0.3w;
}

.dashboard .news h4 a:hover {
  color: #4154f1;
}

.dashboard .news p {
  margin-left: 95px;
  font-size: 14px;
  color: #777;
}
